.jumbotron
  .container
    h1 evapp
    .input-group
      input.form-control(type="text", placeholder="Find event")
      span.input-group-btn
        button.btn.btn-default(type="button") Go!
        


