.container
  .row
    .col-sm-4(ng-repeat="event in events")
      h2 {{event.title}}
      p
       span.label.label-default {{event.type}}
       | {{event.summary}}
      h4 {{event.cost | currency}}